# Files
.env
temp
notes.md
bot_logs.log
presets.py
temp.txt
errors.log
queue.txt
test.py
emote_react_server/emojis.json

adventure_presets.json
adventure_logs.json

# Directories
temp/
emote_react_server/data/
__pycache__/
.vscode/
